<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

 <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>classes.AuthFilter1</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/CustomAuth1</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/CustomAuth2</url-pattern>
  </filter-mapping>


  <servlet>
    <servlet-name>CustomAuth1</servlet-name>
    <servlet-class>classes.CustomAuth1</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CustomAuth1</servlet-name>
    <url-pattern>/CustomAuth1</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CustomAuth2</servlet-name>
    <servlet-class>classes.CustomAuth2</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CustomAuth2</servlet-name>
    <url-pattern>/CustomAuth2</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>classes.Login2</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>classes.LoginCheck2</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>classes.Logout1</servlet-class>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>select</servlet-name>
    <jsp-file>/select_emp.jsp</jsp-file>
  </servlet>
  
     <servlet-mapping>
    <servlet-name>select</servlet-name>
    <url-pattern>/select_emp</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>practice</servlet-name>
    <jsp-file>/itiran.jsp</jsp-file>
  </servlet>
  
     <servlet-mapping>
    <servlet-name>practice</servlet-name>
    <url-pattern>/itiran.jsp</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>show</servlet-name>
    <jsp-file>/show.jsp</jsp-file>
  </servlet>
  
     <servlet-mapping>
    <servlet-name>show</servlet-name>
    <url-pattern>/show</url-pattern>
  </servlet-mapping>
  
<servlet>
    <servlet-name>pro</servlet-name>
    <servlet-class>classes.Proc</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>pro</servlet-name>
    <url-pattern>/pro</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>database</servlet-name>
    <servlet-class>classes.DBAccess</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>database</servlet-name>
    <url-pattern>/DBAccess</url-pattern>
  </servlet-mapping>
</web-app>